<div>
    <h1>Socket.io</h1>

    <div>
        <input type="text" id="text">
        <ul id="mensajes">

        </ul>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>