*{
    background-color: black;
    color: white
}
body {
    background-color: black !important;
}
h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px
}

h2 {
    padding: 10px;
    margin: 10px;
    border: solid 2px white;
    border-radius: 5px;
    max-width: 400px;
    cursor: pointer;
    background-color: rgb(62, 99, 6);
}

h3 {
    border: solid 2px white;
    border-radius: 5px;
    font-size: 10px;
    max-width: 180px;
    cursor: pointer;
    background-color: rgb(62, 99, 6);
    height: 40px;
    position: relative;
    text-align: center;
}

.votaciones {
    color: white;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    border: white 2px solid;
    border-radius: 3px;
    width: 120px;
    max-height: 100px;
}

.Voto {
    max-height: 100px
}

.divPrueba {
    padding: 4px;
}

table {
    width: 100%;
}

th {
    font-size: 30px;
    text-align: center !important; 
}

table, th, td {
    border: 1px solid white;
}

td {
    font-size: 22px;
}

.formDiv {
    padding: 10px;
    position: relative;
    width: 800px;
    display: contents;
}

form {
    color: white;
    width: 100%;
    padding: 2px;
    height: 400px;
    font-size: 18px;
}


label {
    text-align: center!important;
}
input {
    background-color: white;
}

p {
    font-size: 18px;
}

#btnSubmit {
    margin: 10px;
    padding: 15px;
    background-color: white;
    width: 181px;
    position: relative;
    top: 15px;
    border-radius: 11px;
    color: black;
}

#btnSubmit:hover {
    background-color: blueviolet;
    transition: all in ease;
    transition: 0.5s;
}